<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LiveDetector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B827A51F6FFE5500B01050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B827B91F6FFE5600B01050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B827C41F6FFE5600B01050</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
